<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
    
    <!-- styles -->
    <link rel="stylesheet" href="/javascripts/bower_components/angular-material/angular-material.css">
    
    <!-- scripts -->
    <script src="/javascripts/bower_components/angular/angular.js"></script>
    <script src="/javascripts/bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="/javascripts/bower_components/angular-aria/angular-aria.js"></script>
    <script src="/javascripts/bower_components/angular-animate/angular-animate.js"></script>
    <script src="/javascripts/bower_components/angular-material/angular-material.js"></script>
</head>
    <body ng-app="blog">
		
        <ui-view>
		
    
    <script src="/javascripts/dist/blog.js"></script>
</body>
</html>