
.face {
  width: 100px;
  height: 100px;
  margin: 16px;
  border-radius: 100px;
  border: 1px solid #ddd; 
  overflow: hidden;
  transition: width 1s, height 1s;
}

.face:hover{
	width:105px;
	height: 105px;
}

.face > img {
	transition: margin-left 1s;
	height: 105px;
	margin-left: -18px;
}

.face:hover > img{
	margin-left: -16px;
}