<div layout="column" layout-fill>
  <md-toolbar class="md-tall md-primary md-hue-3" md-scroll-shrink="true">
    <span flex></span>
    <div class="md-toolbar-tools">
      <h1 class="md-display-3">
        Bigos' can
      </h1>
    </div>
  </md-toolbar>
  <div layout="horizontal" layout-align="center">
    <md-sidenav md-component-id="left" class="md-sidenav-left" md-is-locked-open="true">
        <md-button class="md-button-flat" ui-sref="/">newest</md-button>
        <md-button class="md-button-flat" ui-sref="/about">about me</md-button>
    </md-sidenav>
    <md-content flex>
      <ui-view />
    </md-content>
  </div>
</div>